@charset "UTF-8";
body {
  font-family: Roboto, sans-serif;
  color: #212121;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  margin: 0;
}

.list {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio-items a {
  text-decoration: none;
}

.hiden-element {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    margin-bottom: 50px;
    line-height: 1.16;
  }
}

.header {
  position: relative;
}

.header-underline {
  border-bottom: 1px solid #f5f4fa;
}

.logo {
  display: inline-block;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.37;
  color: #212121;
  text-decoration: none;
  padding: 16px 0;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.2;
  }
}

.logo:hover, .logo:focus {
  cursor: pointer;
}

.logo .logo__text {
  color: #2196f3;
}

.fotter-logo {
  color: #ffffff;
  margin-top: 0;
  margin-right: 0;
}

@media screen and (min-width: 768px) {
  .fotter-logo {
    padding: 0;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .main-nav {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .main-nav {
    margin-right: 305px;
  }
}

.main-nav .main-nav__link {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #212121;
  display: inline-block;
  font-size: 40px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .main-nav .main-nav__link {
    font-size: 14px;
    line-height: 1.14;
  }
}

.main-nav__link:hover, .main-nav__link:focus {
  color: #2196f3;
}

.main-nav .main-nav__item {
  position: relative;
}

@media screen and (min-width: 768px) {
  .main-nav .main-nav__item {
    padding: 32px 0;
  }
}

@media screen and (max-width: 767px) {
  .main-nav .main-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 768px) {
  .main-nav .main-nav__item:not(:last-child) {
    margin-right: 50px;
  }
}

.main-nav .main-nav__link::after {
  content: "";
  background: #2196f3;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  display: none;
}

@media screen and (min-width: 768px) {
  .main-nav .main-nav__link::after {
    display: block;
  }
}

.main-nav .main-nav__current::after {
  opacity: 1;
}

.main-nav .main-nav__current {
  color: #2196f3;
}

.connect-header {
  margin-bottom: 64px;
}

@media screen and (min-width: 768px) {
  .connect-header {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 21px 0;
  }
}

@media screen and (min-width: 1200px) {
  .connect-header {
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-flow: row-reverse;
        flex-flow: row-reverse;
  }
}

@media screen and (min-width: 1200px) {
  .connect-header .connect-header__item:last-child {
    margin-right: 50px;
  }
}

.connect-header .connect-header__link {
  text-decoration: none;
  font-size: 34px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  -webkit-transition: color 250ms 250ms;
  transition: color 250ms 250ms;
}

@media screen and (max-width: 479px) {
  .connect-header .connect-header__link {
    font-size: calc(27px + 20 * ((100vw - 320px) / 480));
  }
}

@media screen and (min-width: 768px) {
  .connect-header .connect-header__link {
    font-size: 12px;
    line-height: 1.14;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

@media screen and (min-width: 1200px) {
  .connect-header .connect-header__link {
    font-size: 14px;
    padding: 32px 0;
  }
}

.connect-header .connect-header__link-blue {
  color: #2196f3;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .connect-header .connect-header__link-blue {
    margin: 0;
    color: #757575;
  }
}

.connect-header .connect-header__link-size {
  font-size: 28px;
  line-height: 1.18;
}

@media screen and (min-width: 768px) {
  .connect-header .connect-header__link-size {
    font-size: 14px;
    line-height: 1.14;
  }
}

.connect-header__link:hover, .connect-header__link:focus {
  color: #2196f3;
}

.connect-header .connect-header__item:not(:last-child) {
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .connect-header .connect-header__item:not(:last-child) {
    margin-bottom: 0;
  }
}

.connect-header .connect-header__icon-mail {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .connect-header .connect-header__icon-mail {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .connect-header .connect-header__icon-mail {
    display: block;
  }
}

.connect-header .connect-header__icon-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .connect-header .connect-header__icon-phone {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .connect-header .connect-header__icon-phone {
    display: block;
  }
}

.hero {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bg-image-phone.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-image-phone.jpg");
  background-color: #2f303a;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bg-image-tablet.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-image-tablet.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    padding: 200px 0;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bg-image.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-image.jpg");
  }
}

.hero .hero__name {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1200px) {
  .hero .hero__name {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.hero .hero__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  border-radius: 4px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  padding: 10px 32px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bg-image-phone@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-image-phone@2x.jpg");
  }
}

@media screen and (max-width: 1199px) and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bg-image-tablet@2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-image-tablet@2x.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-bg-image-2x.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-bg-image-2x.jpg");
  }
}

/* modal window */
.backdrop {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 93px 15px;
  overflow-y: scroll;
}

.backdrop .backdrop__modal {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  min-width: 320px;
  max-height: 609px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) and (max-width: 1200px) {
  .backdrop .backdrop__modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .backdrop .backdrop__modal {
    min-width: 528px;
    min-height: 581px;
  }
}

.backdrop .backdrop__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.backdrop .backdrop__button-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  fill: currentColor;
  background-color: transparent;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__button-close:hover {
  color: #2196f3;
}

.backdrop .backdrop__button-send {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  border-radius: 4px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  padding: 10px 32px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__button-send:hover, .backdrop__button-send:focus {
  background-color: #188ce8;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

/* Modals forms  */
.modal {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #757575;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal .modal__item {
  margin-bottom: 4px;
  display: block;
}

.modal .modal__icon {
  width: 12px;
  height: 12px;
  position: absolute;
  margin-left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal .modal__wrap {
  width: 100%;
  margin-bottom: 10px;
  position: relative;
}

.modal__wrap:hover .modal__icon {
  fill: #2196f3;
}

.modal__wrap:focus-within .modal__icon {
  fill: #2196f3;
}

.modal .modal__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input:focus-visible {
  outline: none;
  border: 1px solid #2196f3;
  border-radius: 4px;
}

.modal .modal__area {
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;
}

.modal .modal__item-checkbox {
  display: block;
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 20px;
  margin-bottom: 31px;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .modal .modal__item-checkbox {
    font-size: 14px;
    margin-bottom: 30px;
  }
}

.modal .modal__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.modal .modal__icon-checkbox {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__checkbox:checked ~ .modal__icon-checkbox {
  background-color: #2196f3;
  border: 2px solid #2196f3;
}

.modal .modal__contract {
  color: #2196f3;
}

.wrap-all-forms-modal {
  text-align: start;
}

@media screen and (min-width: 768px) {
  .our-features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .our-features .our-features__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .our-features .our-features__item {
    -ms-flex-preferred-size: calc((100% - 2 * 30px) / 2);
        flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .our-features .our-features__item {
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 4 * 30px) / 4);
        flex-basis: calc((100% - 4 * 30px) / 4);
  }
}

.our-features .our-features__item .our-features__subtitle {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .our-features .our-features__item .our-features__subtitle {
    text-align: unset;
  }
}

.our-features .our-features__item .our-features__text {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.our-features .our-features__bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-features .our-features__icon {
  fill: #212121;
}

.hidden-element {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}

@media screen and (min-width: 1200px) {
  .our-specials {
    padding-bottom: 0;
  }
}

.section__what-we-do {
  display: none;
}

@media screen and (min-width: 1200px) {
  .section__what-we-do {
    display: block;
  }
}

.what-we-do .what-we-do__item {
  position: relative;
}

.what-we-do .what-we-do__item:not(:last-child) {
  margin-right: 30px;
}

.what-we-do .what-we-do__text {
  width: 100%;
  content: "";
  bottom: 27px;
  left: 50%;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.what-we-do .what-we-do__bg {
  content: "";
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
}

.what-we-do__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.team-bg {
  background-color: #f5f4fa;
}

@media screen and (min-width: 768px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .team .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.team .team__item {
  text-align: center;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  height: auto;
}

@media screen and (min-width: 768px) {
  .team .team__item {
    -ms-flex-preferred-size: calc((100% - 2 * 30px) / 2);
        flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team .team__item {
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 4 * 30px) / 4);
        flex-basis: calc((100% - 4 * 30px) / 4);
  }
}

.team .team__text {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 16px;
}

.team .team__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
}

.team .team__wrap {
  padding-top: 30px;
  padding-bottom: 24px;
}

.customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  margin: -15px;
}

@media screen and (min-width: 480px) {
  .customers__item {
    -ms-flex-preferred-size: calc((100% - 2 * 30px) / 2);
        flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 768px) {
  .customers__item {
    -ms-flex-preferred-size: calc((100% - 3 * 30px) / 3);
        flex-basis: calc((100% - 3 * 30px) / 3);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .customers__item {
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 6 * 30px) / 6);
        flex-basis: calc((100% - 6 * 30px) / 6);
  }
}

.customers .customers__link {
  width: 100%;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers__link:hover, .customers__link:focus {
  color: #2196f3;
  border: 1px solid #2196f3;
}

.customers .customers__icon {
  display: inline-block;
  border: none;
  fill: currentColor;
}

.footer-bg {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-bg {
    text-align: unset;
  }
}

.wrap-address {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .wrap-address {
    margin-bottom: 0;
    margin-right: 70px;
  }
}

@media screen and (min-width: 768px) {
  .wrap-address-join {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.address {
  color: #ffffff;
  line-height: 1.7;
  font-style: normal;
}

.address .address__text {
  margin-bottom: 9px;
}

.address .address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address .address__link {
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover, .address__link:focus {
  color: #2196f3;
}

/* footert join us */
.footer-join .footer-join__text {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.sign-us .sign-us__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  color: #ffffff;
  margin-bottom: 20px;
}

.sign-us .sign-us__input {
  padding: 15px 16px;
  margin-bottom: 20px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 100%;
  height: 50px;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .sign-us .sign-us__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .sign-us .sign-us__input {
    margin-bottom: 0;
    margin-right: 12px;
    width: 358px;
  }
}

.sign-us .sign-us__btn {
  margin: 0 auto;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 200px;
  height: 50px;
  border: none;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.06em;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.sign-us .sign-us__icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

@media screen and (min-width: 1200px) {
  .sign-us .sign-us__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .wrap-address-join-sign-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.portfolio-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .portfolio-nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
}

.portfolio-nav .portfolio-nav__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-nav .portfolio-nav__item:nth-last-child(n + 3) {
  margin-bottom: 21px;
}

@media screen and (min-width: 768px) {
  .portfolio-nav .portfolio-nav__item:nth-last-child(n + 3) {
    margin-bottom: 0;
  }
}

.portfolio-nav .portfolio-nav__button {
  min-width: 73px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 6px 20px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-nav__button:hover, .portfolio-nav__button:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-card {
  font-size: 18px;
  line-height: 1.9;
}

@media screen and (min-width: 768px) {
  .portfolio-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .portfolio-card__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.portfolio-card .portfolio-card__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.portfolio-card .portfolio-card__item {
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .portfolio-card .portfolio-card__item {
    -ms-flex-preferred-size: calc((100% - 2 * 30px) / 2);
        flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-card .portfolio-card__item {
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 3 * 30px) / 3);
        flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

.portfolio-card__item:hover, .portfolio-card__item:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-card__item:hover .portfolio-overlay,
.portfolio-card__item:focus .portfolio-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio-card .portfolio-card__subtitle {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-card .portfolio-card__description {
  background: #ffffff;
  padding: 20px 24px;
  background-color: #ffffff;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.portfolio-card .portfolio-card__text {
  color: #757575;
}

.portfolio-card a {
  text-decoration: none;
}

/* Портфолио екшин */
.portfolio-overlay {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-overlay .portfolio-overlay__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.card-overflow {
  position: relative;
  overflow: hidden;
}

/* Social icons */
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social .social__item:not(:last-child) {
  margin-right: 10px;
}

.social .social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-color: transparent;
  border-radius: 50%;
  fill: #afb1b8;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social .social__icon {
  width: 20px;
  height: 20px;
}

.social__link:hover, .social__link:focus {
  background-color: #2196f3;
  fill: #ffffff;
  cursor: pointer;
}

.footer-icon-bg {
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 60px;
}

.social__icon-footer {
  fill: #ffffff;
}

.menu-nav {
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-button__icon-menu {
  fill: currentColor;
  -webkit-transition: color 250ms 250ms;
  transition: color 250ms 250ms;
}

.menu-button__icon-cross {
  fill: currentColor;
  -webkit-transition: color 250ms 250ms;
  transition: color 250ms 250ms;
}

.menu-button:hover, .menu-button:focus {
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.js-close-menu {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 99;
}

.menu-container {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .menu-container {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    background-color: transparent;
    position: unset;
    padding: 0;
    width: unset;
    height: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-container__wrap {
  max-width: 480px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding: 48px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .menu-container .menu-container__wrap {
    height: 100vh;
  }
}

@media screen and (min-width: 768px) {
  .menu-container .menu-container__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    max-width: 100%;
    padding: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.menu-container__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-container__social-list .menu-container__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  text-decoration: none;
  color: #2196f3;
}

@media screen and (max-width: 479px) {
  .menu-container__social-list .menu-container__social-link {
    font-size: calc(12px + 18 * ((100vw - 320px) / 480));
  }
}

.menu-container__social-list .menu-container__social-item:not(:first-child)::before {
  content: "";
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-left: 10px;
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .menu-container__social-list {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */