.main-nav {
  @media screen and (min-width: 768px) {
    margin: 0;
    display: flex;
    margin-right: 84px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 305px;
  }

  .main-nav__link {
    text-decoration: none;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: $primary-text-color;

    display: inline-block;
    font-size: 40px;
    transition: color $duration $cubic;

    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.14;
    }
  }

  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }

  .main-nav__item {
    position: relative;
    @media screen and (min-width: 768px) {
      padding: 32px 0;
    }
  }

  .main-nav__item:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 32px;
    }

    @media screen and (min-width: 768px) {
      margin-right: 50px;
    }
  }

  .main-nav__link::after {
    content: "";
    background: $accent-color;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
    }
  }
  .main-nav__current::after {
    opacity: 1;
  }

  .main-nav__current {
    color: $accent-color;
  }
}

.connect-header {
  margin-bottom: 64px;

  @media screen and (min-width: 768px) {
    margin: 0;
    flex-direction: column-reverse;
    display: flex;
    justify-content: space-between;
    padding: 21px 0;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: unset;
    padding: 0;
    align-items: center;
    flex-flow: row-reverse;
  }

  .connect-header__item:last-child {
    @media screen and (min-width: 1200px) {
      margin-right: 50px;
    }
  }

  .connect-header__link {
    text-decoration: none;
    font-size: 34px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $secondery-text-color;
    transition: color $duration $duration;

    @media screen and (max-width: 479px) {
      font-size: calc(27px + 20 * ((100vw - 320px) / 480));
    }
    @media screen and (min-width: 768px) {
      font-size: 12px;
      line-height: 1.14;
      display: flex;
      align-items: center;
      display: inline-flex;
    }
    @media screen and (min-width: 1200px) {
      font-size: 14px;
      padding: 32px 0;
    }
  }

  .connect-header__link-blue {
    color: $accent-color;
    margin-bottom: 32px;
    @media screen and (min-width: 768px) {
      margin: 0;
      color: $secondery-text-color;
    }
  }

  .connect-header__link-size {
    font-size: 28px;
    line-height: 1.18;
    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.14;
    }
  }

  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }

  .connect-header__item:not(:last-child) {
    margin-bottom: 32px;

    @media screen and (min-width: 768px) {
      margin-bottom: 0;
    }
  }

  .connect-header__icon-mail {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;

    @media screen and (max-width: 767px) {
      display: none;
    }

    @media screen and(min-width: 768px) {
      display: block;
    }
  }
  .connect-header__icon-phone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;

    @media screen and (max-width: 767px) {
      display: none;
    }
    @media screen and (min-width: 768px) {
      display: block;
    }
  }
}
