.main-nav {
margin-bottom: 302px;
  
  .main-nav__link {
    text-decoration: none;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: $primary-text-color;

    display: inline-block;
    font-size: 40px;
    transition: color $duration $cubic;
  }

  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }

  .main-nav__item {
    position: relative;
  }

  .main-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }

  .main-nav__link::after {
    content: "";
    background: $accent-color;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    display: none;

  
  
// @media screen and(min-width: 768px) {
//   display: inherit;
  
}
}
  .main-nav__current::after {
    opacity: 1;
  }

  .main-nav__current {
    color: $accent-color;
  }
}

.connect-header {
 
  margin-bottom: 64px;

  .connect-header__link {
    text-decoration: none;
    font-size: 34px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $secondery-text-color;
    transition: color $duration $duration;
  }

  .connect-header__link-blue {
    color: $accent-color;
    margin-bottom: 32px;
  }

  .connect-header__link-size {
    font-size: 28px;
    line-height: 1.18;
  }

  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }

  .connect-header__item:not(:last-child) {
    margin-bottom: 32px;
  }

  .connect-header__icon-mail {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;


    @media screen and (max-width: 767px) {
      display: none;
    }
  }
  .connect-header__icon-phone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;

    @media screen and (max-width: 767px) {
      display: none;
    }
  }
}

