.hero {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-bg-image-phone.jpg");
  background-color: #2f303a;

  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;

  @media screen and(min-width: 768px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero-bg-image-tablet.jpg");
  }

  @media screen and(min-width: 1200px) {
    height: 600px;
    padding: 200px 0;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero-bg-image.jpg");
  }

  .hero__name {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $white-color;
    margin-bottom: 30px;
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 1200px) {
      font-size: 44px;
      line-height: 1.36;
      max-width: 696px;
    }
  }

  .hero__button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    background-color: $accent-color;
    border-radius: 4px;
    color: $white-color;
    border: none;
    cursor: pointer;
    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition: background-color $duration $cubic, box-shadow $duration $cubic;
  }

  &__button:hover,
  &__button:focus {
    background-color: #188ce8;
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero-bg-image-phone@2x.jpg");
  }
}
@media screen and (max-width: 1199px) and (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero-bg-image-tablet@2x.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/hero-bg-image-2x.jpg");
  }
}
