.logo {
    font-family: $logo-font;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: $primary-text-color;
    text-decoration: none;
    margin-right: 94px;
  
    &:hover,
    &:focus {
      cursor: pointer;
    }
  
    .logo__text {
      color: $accent-color;
    }

   
  }
  
  .fotter-logo{
    display: inline-block;
    color: $white-color;
    margin-bottom: 20px;
    margin-top: 0;
    margin-right: 0;
  }


