.menu-nav {
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  &__icon-menu {
    fill: currentColor;
    transition: color $duration $duration;
  }
  &__icon-cross {
    fill: currentColor;
    transition: color $duration $duration;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.js-close-menu {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 99;
}

.menu-container {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: translateX(100%);
  transition: transform $duration $cubic;
  background-color: $white-color;

  @media screen and (min-width: 768px) {
    transform: translateX(0);
    background-color: transparent;
    position: unset;
    padding: 0;
    width: unset;
    height: unset;
    display: flex;
  }

  &.is-open {
    transform: translateX(0);
  }

  .menu-container__wrap {
    max-width: 480px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    padding: 48px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (max-width: 767px) {
      height: 100vh;
    }

    @media screen and (min-width: 768px) {
      display: flex;
      margin: 0;
      max-width: 100%;
      padding: 0;
      flex-direction: row;
    }
  }
}

.menu-container__social-list {
  display: flex;

  .menu-container__social-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;

    text-decoration: none;
    color: $accent-color;

    @media screen and(max-width:479px) {
      font-size: calc(12px + 18 * ((100vw - 320px) / 480));
    }
  }

  .menu-container__social-item:not(:first-child)::before {
    content: "";
    border: 1px solid rgba(33, 33, 33, 0.2);
    margin-left: 10px;
    margin-right: 10px;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}
