/* modal window */
.backdrop {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity $duration $cubic, transform $duration $cubic;
  padding: 93px 15px;
  overflow-y: scroll;

  .backdrop__modal {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    padding: 40px;
    min-width: 320px;
    max-height: 609px;
    background-color: $white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform $duration $cubic;

    @media screen and (min-width: 480px) and (max-width: 1200px) {
      width: 450px;
      height: 609px;
    }

   

    @media screen and (min-width: 1200px) {
      min-width: 528px;
      min-height: 581px;
    }
  }
  .backdrop__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: $primary-text-color;
    margin-bottom: 12px;

   
  }

  .backdrop__button-close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 8px;
    right: 8px;
    padding: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    fill: currentColor;
    background-color: transparent;
    transition: color $duration $cubic;
  }

  &__button-close:hover {
    color: $accent-color;
  }

  .backdrop__button-send {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    background-color: $accent-color;
    border-radius: 4px;
    color: $white-color;
    border: none;
    cursor: pointer;
    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    align-self: center;
    transition: background-color $duration $cubic, box-shadow $duration $cubic;
  }

  &__button-send:hover,
  &__button-send:focus {
    background-color: #188ce8;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

/* Modals forms  */

.modal {
  flex-direction: column;
  color: $secondery-text-color;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  .modal__item {
    margin-bottom: 4px;
  }

  .modal__icon {
    width: 12px;
    height: 12px;
    position: absolute;
    margin-left: 15px;
    top: 50%;
    transform: translateY(-50%);
    fill: $primary-text-color;
    transition: fill $duration $cubic;
  }

  .modal__wrap {
    width: 100%;
    margin-bottom: 10px;
    position: relative;
  }

  &__wrap:hover &__icon {
    fill: $accent-color;
  }
  &__wrap:focus-within &__icon {
    fill: $accent-color;
  }
  .modal__input {
    width: 100%;
    height: 40px;
    padding-left: 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    transition: border $duration $cubic;
  }

  &__input:focus-visible {
    outline: none;
    border: 1px solid $accent-color;
    border-radius: 4px;
  }

  .modal__area {
    height: 120px;
    resize: none;
    padding: 12px 16px;
    margin-bottom: 20px;
  }

  .modal__item-checkbox {
    display: block;
    position: relative;
    align-self: center;
    padding-left: 20px;
    margin-bottom: 31px;
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 0.03em;

    @media screen and (min-width: 1200px) {
      font-size: 14px;
      margin-bottom: 30px;
    }
  }

  .modal__checkbox {
    appearance: none;
  }

  .modal__icon-checkbox {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    width: 16px;
    height: 15px;
    border: 2px solid $primary-text-color;
    border-radius: 2px;
    transition: background-color $duration $cubic, border $duration $cubic;
  }

  .modal__checkbox:checked ~ &__icon-checkbox {
    background-color: $accent-color;
    border: 2px solid $accent-color;
  }
  .modal__contract {
    color: $accent-color;
  }
}
.wrap-all-forms-modal {
  text-align: start;
}
