.our-features {
  @media screen and(min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  .our-features__item:not(:last-child) {
    @media screen and(max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  .our-features__item {
    @media screen and(min-width: 768px) {
      flex-basis: calc((100% - 2 * 30px) / 2);
      margin: 15px;
    }

    @media screen and(min-width: 1200px) {
      margin: 15px;
      flex-basis: calc((100% - 4 * 30px) / 4);
    }

    .our-features__subtitle {
      text-align: center;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      text-transform: uppercase;
      margin-bottom: 10px;
      @media screen and(min-width: 768px) {
        text-align: unset;
      }
    }

    .our-features__text {
      color: $secondery-text-color;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.7;
    }
  }

  .our-features__bg {
    display: flex;
    height: 120px;
    margin-bottom: 30px;
    background-color: #f5f4fa;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
  }

  .our-features__icon {
    fill: $primary-text-color;
  }
}

.hidden-element {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}

.our-specials {
  @media screen and(min-width: 1200px) {
    padding-bottom: 0;
  }
}
