.section__what-we-do{

  display: none;
}

.what-we-do {
    .what-we-do__item {
      position: relative;
    }
  
    .what-we-do__item {
      margin-right: 30px;
    }
  
    .what-we-do__item:not(:last-child) {
      margin-right: 30px;
    }
    
  
    .what-we-do__text {
      width: 100%;
      content: "";
      bottom: 27px;
      left: 50%;
      transform: translatex(-50%);
      position: absolute;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.2;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: $white-color;
    }
    .what-we-do__bg {
      content: "";
      width: 100%;
      height: 70px;
      background: rgba(47, 48, 58, 0.8);
      position: absolute;
      bottom: 0;
      left: 0;
      display: inline-block;
    }
  }
  
  .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    margin-bottom: 50px;

   
  }
  