$primary-text-color: #212121;
$secondery-text-color: #757575;
$accent-color: #2196f3;
$white-color: #ffffff;
$hover-hero-button: #188ce8;
$font: Roboto, sans-serif;
$logo-font: Raleway, sans-serif;
$duration: 250ms;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$hero-bg-gradient: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
  )

  
  

